<div ng-controller="chatController" ng-hide="game.state === 'game ended' || game.state === 'game dissolved'">
  <div class="box" style="display: flex; height: 200px; bottom: 20px; right: 10px; position: fixed; z-index: 30">
    <div style="align-self: flex-end" ng-controller="chatController">
      <div class="chat_header" ng-click="openChat()">
        <span style="font-size: 20px; color: #FFF; font-family: 'Bangla MN', Arial;">
          Chat...
        </span>
        <span class="badge badge-danger new-chat" ng-bind="unreadCount"></span>
      </div>
      <div class="chat_messages" ng-show="isChatOpen === true">
        <div class="chat_message" ng-repeat="chat in chats" style="display:flex">
          <img ng-src="{{chat.avatar}}" class="chat_icon">
          <div>
            <div style="display: flex; flex-wrap:wrap;">
              <div>
                <strong ng-bind="chat.author" style="font-style: italic; font-size:13px;"></strong>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;
              <div style="font-size:10px; margin-left:auto;" ng-bind="showTime(chat.time)"></div>
            </div>
            <div ng-bind="chat.message"></div>
          </div>
        </div>
      </div>
      <form class="chat_compose" ng-submit="addChat()">
        <input id="messageInput" type="text" name="message" placeholder="Enter a message" />
        <input type="submit" style="background: #FF8800; color: #FFF; border-radius: 12px; font-family: cursive; font-size: 1.1rem; margin-left:2px; cursor:pointer" value="send">
      </form>
    </div>
  </div>
</div>