<div class="modal-dialog" ng-controller="IndexController">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-region bold text-white">Choose A Region</h4>
      </div>
      <div class="region-error alert alert-danger alert alert-danger" ng-show="error">
        <p class="text-red" ng-bind="error"></p>
      </div>
      <div class="modal-body">
        <div class="custom-form">
          <!-- region select form starts -->
          <div class="form-group">
            <label for="region"></label>
            <select ng-model="region" class="one-whole" name="region" id="region">
              <option value="">Choose a region</option>
              <option value="africa">Africa</option>
              <option value="others">Worldwide</option>
            </select>
          </div>
          <span ng-hide="showOptions">
            <button class="btn btn-default home-button custom-button text-white" ng-click="playWithStrangers()">PLAY GAME</button>
          </span>
          <span ng-show="showOptions">
            <button class="btn btn-default home-button custom-button text-white" ng-click="playWithStrangers()">PLAY WITH STRANGERS</button>
            <button type="submit" class="btn btn-default home-button custom-button text-white" ng-click="playWithFriends()">PLAY WITH FRIENDS</button>
          </span>
          <button ng-click="goHome()" id="close" class="btn btn-default home-button custom-button text-white" data-dismiss="modal">CANCEL</button>
          <!-- region select form ends -->
        </div>
      </div>
      <div class="modal-footer">
        <h5 class="text-border text-white">Cards For Humanity</h5>
      </div>
    </div>
  
  </div>