<div id="search" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-left: auto; margin-right: auto; text-align:center">
        <div class="modal-header" style="background-color: #256188; color: #FFF">
          <h4 class="modal-title" style="text-align: center;">Card For Humanity </h4>
        </div>
        
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="font-size: 0.8rem;" ng-click="getFriendsList()" class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">Friends</a>
        </li>
        <li class="nav-item">
          <a style="font-size: 0.8rem;" class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Search</a>
        </li> 
      
    </ul>
    <div class="tab-content" id="myTabContent" style="min-height:  200px;">
      <!-- Frinds tab -->
      <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab" style="font-size: 0.8rem;">
        <br>
        <p>Friends</p>
        <div>
          <div ng-hide="friendsList" style="min-height: 120px;"> You have no friends yet</div>
          <table class="table table-striped">
            {{friendId}}
            <tr ng-repeat="friend in friendsList">
              <td>{{friend.friendName}}</td>
              <td style="width: 100px;"><button ng-disabled="inviteList.includes(friend.friendId)" style="background: #FF8800; color: #FFF; border-radius: 12px; font-family: cursive; font-size: 0.7rem; cursor:pointer" ng-click="sendNotification(friend.friendId, friend.friendEmail);">Invite</button></td>
              <td style="width: 100px;"><button style="background: #256188; color: #FFF; border-radius: 12px; font-family: cursive; font-size: 0.7rem; cursor:pointer" ng-click="removeFriend(friend.friendId);">Remove</button></td> 
            </tr>
            
          </table>
        </div>
        <div style="text-align: left; padding: 1%;">Friends: {{friendsList.length}}</div>
      </div>

      <!-- Search Tab -->
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div style="font-size: 0.8rem;">
              <div class="modal-body" style="padding-top: 48px;">
                <p >Search for users.</p>
                  <div style="width: 80%; margin: 0 auto;">
                    <form>
                    <input type="text" ng-change="search(); getFriendsList()" ng-model="identifier" style="height: 30px;" placeholder="Search email or username">
                    <button
                    style="background: #FF8800; color: #FFF; border-radius: 12px; font-family: cursive; font-size: 0.8rem; padding: .1rem 2rem; cursor:pointer"
                    ng-click="search(); getFriendsList()"
                    class="btn btn-sm">
                    Search
                  </button>
                  </form>
                  </div>
              </div>
              <div ng-show="result" style="color: #256188;">
                <p >search results</p>
                <p style="color: red;"> {{ inviteMsg }} </p>
                <div style="height: 162px; overflow: scroll;">
                  
                  <table style="width: 100%;" class="table table-striped" >
                    
                    <tr ng-repeat="user in users">
                      <td>{{ user.name}}</td>
                      <td style="width: 100px;"><button ng-disabled="friendsId.includes(user._id)" style="background: #FF8800; color: #FFF; border-radius: 12px; font-family: cursive; font-size: 0.7rem; cursor:pointer" ng-click="addFriend(user.name, user._id, user.email);">Add Friend</button></td>
                      <td style="width: 100px;"><button ng-disabled="invited.includes(user._id)" style="background: #256188; color: #FFF; border-radius: 12px; font-family: cursive; font-size: 0.7rem; cursor:pointer" ng-click="sendInvite(user.email, user._id);">Invite user</button></td>
                    </tr>
                  </table>
                  <p style="color: red;">{{ message }}</p>
                </div>
                
              
              </div>
            </div>
      </div>
      
    </div>


        <div class="modal-footer" style="background-color: #256188; color: #FFF; padding-top: 10px; padding-bottom: 10px">
          <button style="background: #FF8800; color: #FFF; border-radius: 12px; font-family: cursive; font-size: 1.1rem; padding: .1rem 2rem; cursor:pointer" type="button" class="btn btn-sm" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>




  