<div id="search" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="max-width: 80%; margin-left: auto; margin-right: auto">
        <div class="modal-header" style="background-color: #256188; color: #FFF">
          <h4 class="modal-title">Card For Humanity</h4>
        </div>
        <div class="modal-body" style="height: 200px">
         Search for users.
          <br/><br/>
          <div style="width: 80%; margin: 0 auto;">
            <form>
            <input type="text" ng-change="search()" ng-model="identifier" style="height: 30px;" placeholder="Enter Your Email or username">
            <button
            style="background: #FF9900; color: #FFF"
            ng-click="search()"
            class="btn btn-sm">
            Search
          </button>
          </form>
          </div>
          
        </div>
        <div ng-show="result" style="font-size: 14px; margin-top: 6px; color: #256188">
          <p >search results</p>
          <p style="color: red;"> {{ inviteMsg }} </p>
          <table style="width: 100%;" >
            <tr ng-repeat="user in users">
              <td>{{ user.name}}</td>
              <td><button style="text-align: right; background: #F6A623; color: #FFF" ng-click="sendInvite(user.email, user._id, $event);">Invite user</button></td>
            </tr>
          </table>
          <p style="color: red;">{{ message }}</p>
        </div>
        <div class="modal-footer" style="background-color: #256188; color: #FFF; padding-top: 10px; padding-bottom: 10px">
          <button style="background: #F6A623; color: #FFF" ng-click="abandonGame()" type="button" class="btn btn-sm" data-dismiss="modal">Exit Game</button>
        </div>
      </div>
    </div>
  </div>