<div page="signup" ng-controller="IndexController">
  <div>
    <div>
      <div class="sign-head">
        <div class="form-head">
          <h4 class="form-center head-text">Sign up</h4>
        </div>
        <div>
          <div class="top">
            <div class="text-center">
              <p>Have an account?
                <strong><a href="#!/signin">Sign In</a></strong>
              </p>
            </div>
            <div class="sign-error alert alert-danger" ng-show="showError() === 'undefined'">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span class="text-red">A user already exists with that email</span>
            </div>
            <span class="sign-error alert alert-danger" ng-show="showError() === 'invalid'">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p class="text-red">Invalid credentials</p>
            </span>
            <span class="sign-error alert alert-danger" ng-show="showError() === 'existingUser'">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p class="text-red">A user already exists with that email</p>
            </span>
            <form class="form-field mr-auto" ng-submit="signup()" method="post">
              <div class="control-group">
                <div class="input-control">
                  <label for="fullname" id="label">Full Name</label>
                  <input ng-model="name" type="text" placeholder="Full Name" id="fullname" required>
                </div>
              </div>
              <div class="control-group">
                <div class="input-control">
                  <label for="email" id="label">Email</label>
                  <input ng-model="email" type="email" placeholder="john@doe.com" id="email" required>
                </div>
              </div>
              <div class="input-control">
                <div class="control-group">
                  <label for="password" id="label">Password</label>
                  <input ng-model="password" type="password" placeholder="password" id="password" required>
                </div>
              </div>
              <div id="contain-avatars">
                <h6>Choose an Avatar</h6>
                <ul ng-controller="IndexController" class="avatar-list">
                  <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                      <input name="avatar" type='radio' value="{{$index}}">
                        <img ng-src="{{avatar}}">
                      </input>
                  </li>
                </ul>
              </div>
              <button type="submit" class="btn btn-md btn-sign" style="background: #FF8800; color: #FFF; border-radius: 12px;font-family: cursive; font-size: 1.1rem; padding: .1rem 2rem; margin-top: 10px;">Sign up</button>
            </form>
            <div>
              
              <h5 class="text-mv"> OR </h5>
              <br>
              <div class="social-signup">
                <span class="signin-heading">Sign up with</span>
                <a href="/auth/google"><img class="social-icons" src="../img/icon/google.png" alt="Google"></a>
                <a href="/auth/facebook"><img class="social-icons" src="../img/icon/facebook.png" alt="Facebook"></a>
                <a href="/auth/twitter"><img class="social-icons" src="../img/icon/twitter.png" alt="Twitter"></a>
                <a href="/auth/github"><img class="social-icons" src="../img/icon/github.png" alt="Github"></a>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>