<div page="signup" ng-controller="IndexController">
  <div>
    <div>
      <div class="sign-head">
        <div class="form-head">
          <h4 class="form-center head-text">Sign in</h4>
        </div>
        <div>
          <div class="top">
            <div class="text-center">
              <p class="text-account">Don't have an account?
                <strong><a href="#!/signup">Sign up</a></strong>
              </p>
            </div>
             <div class="sign-error alert alert-danger" ng-show="showError() === 'undefined'">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span class="text-red">Please check your username/password and try again.</span>
            </div>
             <div class="sign-error alert alert-danger" ng-show="showError() === 'invalid'">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span class="text-red">Please check your username/password and try again.</span>
            </div>
            <form class="form-field mr-auto" ng-submit="login()">
              <div class="control-group">
              <div class="input-control" id="control">
                <label for="email" id="label">Email</label>
                <input type="email" ng-model="email" placeholder="john@doe.com" id="email" required novalidate>
              </div>
              </div>

              <div class="control-group">
              <div class="input-control" id="control">
                <label for="password" id="label">Password</label>
                <input type="password" ng-model="password" placeholder="password" id="password" required novalidate>
              </div>
              </div>
              <button type="submit" class="btn btn-md btn-sign">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </di>