<div>
  <div id="start" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="max-width: 80%; margin-left: auto; margin-right: auto">
        <div class="modal-header" style="background-color: #256188; color: #FFF;">
          <h4 class="modal-title" style="margin-right:auto; margin-left:auto">Cards For Humanity</h4>
        </div>
        <div class="modal-body" style="height: 200px">
          <span >
            <button
              style="background: #FF9900; color: #FFF"
              ng-show="game.playerIndex === 0 || (game.joinOverride && game.players.length >= game.playerMinLimit)"
              ng-click="startGame()"
              class="btn btn-sm"
              data-dismiss="modal"
            >
              Start Game
            </button>
          </span>
          <span>
            <button
              ng-click="invitePlayers()"
              style="background: #FF9900; color: #FFF"
              ng-disabled="game.players.length >= 12" 
              class="btn btn-sm">
              Invite Players
            </button>
          </span>
          <br/><br/>
          <img src="../img/loader_3.gif" style="height:80px" alt="">
          <figcaption style="font-size: 14px; margin-top: 6px; color: #256188">Finding Players <br></figcaption>
          <span style="font-size: 13px; font-weight: lighter; color: #256188"><p>{{game.players.length}} players found</p></span>
        </div>
        <div ng-show="link.slice(-3) !== 'app'" style="font-size: 13px; font-weight: lighter; margin-top: 6px; color: #256188">
          Give the following link to your friends so they can join your game:
          <br>
          {{link}}
        </div>
        <div class="modal-footer" style="background-color: #256188; color: #FFF; padding-top: 10px; padding-bottom: 10px">
          <button style="background: #FF9900; color: #FFF" ng-click="abandonGame()" type="button" class="btn btn-sm" data-dismiss="modal">Exit Game</button>
        </div>
      </div>
    </div>
  </div>
  <div id="infoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="max-width: 80%; margin-left: auto; margin-right: auto">
        <div class="modal-header" style="background-color: #256188; color: #FFF">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body" style="max-height: fit-content; font-size: 14px; font-weight: lighter; margin-top: 6px; color: #256188">
        </div>
        <div class="modal-footer" style="background-color: #256188; color: #FFF; padding-top: 10px; padding-bottom: 10px">
          <button ng-click="dismissInfo()" style="background: #FF9900; color: #FFF" type="button" class="btn btn-sm">Close</button>
        </div>
      </div>
    </div>
  </div>
  <search></search>
</div>

