.chat_messages {
  background-color: whitesmoke;
  padding: 10px 10px 0px 10px;
  height: 320px;
  overflow: scroll;
}


.chat_header {
  background-color: #256188; 
  color: #FFF;
  padding: 5px;
  width:300px;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}

.hidden{
  display: none;
}

.chat_message {
  margin: 5px 0px;
  width: 280px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}

.chat_icon {
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.chat_compose {
  border-top: 2px solid whitesmoke;
  display: flex;
  background-color: #256188; 
  padding: 10px;
  justify-content: center;
  align-items: center;
}

input {
 height: 35px;
}

.input {
  width: 80%;
  margin: 5px;
  background-color: whitesmoke;
}

#light {
  font-size: 28px;
}

.new-chat {
  position: relative;
  bottom: 15px;
  right: -100px;
  font-size: 1rem;
}