body {
  height: 100%;
  background-color: transparent;
}

#wrapper {
  background: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #add1e7;
  text-transform: uppercase;
  margin-right: 1%;
}

.navbar a:hover {
  color: #d8e7f0;
}

.navbar a.selected {
  text-decoration: underline;
  
}
.nav-pills .nav-link.active {
  background: #ffa700;
  
}

.navbar-nav {
  width: 60%;
}

.navbar-light .navbar-brand {
  text-transform: uppercase;
  color: white;
}

.header {
  background: url(../img/card.png);
  height: 495px;
  background-size: auto;
  padding: 1%;
  width: 100;

}

.header-text {
  text-align: center;
  font-size: 320%;
  margin-top: 8%;
  text-shadow: 1px 1px 3px #fff;
  font-family: fantasy;
}

.game-btn {
  text-align: center;
}

.game-btn .btn {
  width: 20%;
}

.game-btn .btn-light {
  color: #ffc209;
}


.game-btn .btn-warning {
  color: #fff;
}

.how-to-slider {
  margin-top: 2%;
}

#carousel {
  height:550px;
  width: 100%;
  position:;
  clear:both;
  overflow:hidden;
  margin:0 auto;
}
#carousel img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
  width: 15%;
}

.what-is-cfh {
  text-align: center;
  padding-top: 13%;
  color: #256087;
  text-transform: uppercase;
  background: #fff;
}

.what-is-cfh span {
  color: red;
}

.charity {
  background: url(../img/charity.jpg);
  height: 520px;
  padding: 2%;
  background-size: cover;
  color: #fff;
  text-align: center;
  border-top: 10px solid #93a1a7cf;
}

.team {
  background: #88a1ad;
  padding: 1%;
  color: #ffffff;
  text-align: center;
}

.footer {
  background: #256087;
  padding: 2%;
}

  
[page="signup"] {
  background-size: cover;
  overflow-x: hidden;
}


.main {
  margin: 5rem auto;
  width: 50%;
  border: 1px solid white;
  padding: 10px;
  background-color: #ffffffbf;
  border-radius: 3px;
}

.avatar-list {
  padding-left: 0px;
  margin-left: 3%;
  overflow: hidden;
}

ul, ol {
  margin-top: 0px;
  margin-bottom: 4px;
}

.avatars {
  cursor: pointer;
}
.avatars {
  position: relative;
  float: left;
  margin: 1px 2px;
  border-radius: 3px;
}

.avatar-list img {
  max-width: 45px;
}
.avatar-list img {
  max-width: 30%;
}
.avatar-list img {
  vertical-align: middle;
}
.avatar-list img {
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

.avatar-list li {
  list-style-type: none;
}

.custom-button {
  margin-top: 20px;
  background: #F6A623;
  border-width: 2px;
  border-radius: 2px;
}

.social-icons {
  border-radius: 20px;
}

.social-signup img {
  max-width: 30px;
}

.sign-heading {
  margin-top: 10px;
}


.auth .form-field {
  padding: 0 10px 0 10px;
  margin: 0 auto;
  font-family: arial;
  font-size: 100%;
}
  
.input-control {
  margin: 0 auto;
  width: 300px;
}
  
.cover img {
  margin: 8px 0;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  background: transparent;
  outline: 0;
  border: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-weight: 200;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  margin-bottom: 6px;
}
  
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-bottom-color: #4F99E2;
}

.avatar {
  padding-top: 5px;
}

.signin-heading {
  margin-top: 50px;
  margin-right: 150px;
}

.sign-error {
  margin-left: 12px;
  font-family: arial;
}

.text-home {
  margin-left: 70px;
}
  
labelled {
  text-transform: uppercase;
  font-size: .6rem
}
    

@media(min-width: 320px) and (max-width: 950px) {
  .game-btn {
    width: 100%;
  }
  .game-btn .btn {
    width: 100%;
    margin-bottom: 2%;
  }

  .how-to-slider {
    display: none;
  }

  .navbar-light .navbar-toggler {
    color: rgb(247, 243, 243);
    border-color: rgba(255, 255, 255, 0.897);
  }

  .charity {
    background: #5880a1;
  }
  
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
      width: 80%;
  }
}