#wrapper {
  background: #256087;
}

.navbar {
  background-color: #256188;
  width: 100%;
  position: fixed;
  z-index: 999999999;
}

.navbar-light .navbar-nav .nav-link {
  color: #add1e7;
  text-transform: uppercase;
  margin-right: 1%;
  font-family: Bangla MN;
  
}

.navbar a:hover {
  color: #d8e7f0;
}

.navbar a.selected {
  text-decoration: underline;
  
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.nav-pills .nav-link.active {
  background: #F6A623;
}

.navbar-nav {
  width: 60%;
}

.navbar-light .navbar-brand {
  text-transform: uppercase;
  color: white;
}

.header {
  background: url(../img/card.png);
  height: 695px;
  background-size: auto;
  padding: 1%;
  width: 100;

}

.header-text {
  text-align: center;
  font-size: 320%;
  margin-top: 8%;
  color: #fff;
  font-family: Herculanum;
}

.header-text h2 {
  color: #fff;
  text-align: center;
  font-family: Telugu MN;
  font-size: 120%;
  padding-bottom: 4%;
}

.game-btn {
  text-align: center;
}

.game-btn .btn {
  width: 30%;
  border-radius: 12px;
  margin-bottom: 2%;
  font-family: Herculanum;
}

.game-btn .btn-light {
  color: #F6A623;
}


.game-btn .btn-warning {
  color: #fff;
}

.how-to-slider {
  margin-top: 2%;
}

#carousel {
  height:550px;
  width: 100%;
  position:;
  clear:both;
  overflow:hidden;
  margin:0 auto;
}
#carousel img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
  width: 16%;
}

.what-is-cfh {
  text-align: center;
  padding-top: 13%;
  color: #256087;
  text-transform: uppercase;
  background: #fff;
}

.what-is-cfh span {
  color: red;
}

.what-is-cfh p {
  margin: 0;
}

.charity {
  background: url(../img/charity.png);
  height: 520px;
  padding: 2%;
  background-size: cover;
  color: #fff;
  text-align: center;
  border-top: 10px solid #93a1a7cf;
}

.team {
  background: #88a1ad;
  padding: 1%;
  color: #ffffff;
  text-align: center;
}

.footer {
  background: #256087;
  padding: 2%;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer a:hover {
  color: #F6A623
}

@media(min-width: 320px) and (max-width: 950px) {
  .game-btn {
    width: 100%;
  }
  .game-btn .btn {
    width: 100%;
    margin-bottom: 2%;
  }

  .how-to-slider {
    display: none;
  }

  .navbar-light .navbar-toggler {
    color: rgb(247, 243, 243);
    border-color: rgba(255, 255, 255, 0.897);
  }

  .charity {
    background: #5880a1;
  }
  
  .navbar-collapse .nav-pills .nav-link.active {
    background: none;
     color: #F6A623;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
      width: 80%;
  }
}